In [2]:
import pandas as pd

In [4]:
books_10k = pd.read_csv('Data/books10k.csv')
books_10k.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [5]:
reviews_10k = pd.read_csv('Data/reviews10k_grouped.csv')
reviews_10k.head()

,book_id,authors,original_title,review_text
0,2767052,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
1,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Tuve el gusto de leerlo antes de que saliera l...
2,41865,Stephenie Meyer,Twilight,"If I was 15, I would have LOVED this. It wasn'..."
3,2657,Harper Lee,To Kill a Mockingbird,"Still relevant and beautiful.,R.I.P. Ms. Harpe..."
4,4671,F. Scott Fitzgerald,The Great Gatsby,I read this classic twice in high school. Its ...

In [12]:
books_10k.dtypes

book_id                        int64
goodreads_book_id              int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [6]:
# discovered that reviews use goodreads book id as book id
# renaming column in reviews_df3
reviews_10k.rename(columns = {'book_id': 'goodreads_book_id'}, inplace = True)
reviews_10k.head()

,goodreads_book_id,authors,original_title,review_text
0,2767052,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
1,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Tuve el gusto de leerlo antes de que saliera l...
2,41865,Stephenie Meyer,Twilight,"If I was 15, I would have LOVED this. It wasn'..."
3,2657,Harper Lee,To Kill a Mockingbird,"Still relevant and beautiful.,R.I.P. Ms. Harpe..."
4,4671,F. Scott Fitzgerald,The Great Gatsby,I read this classic twice in high school. Its ...

In [7]:
# add review_text from reviews2, combining by book_id
reviews_full = pd.merge(books_10k, reviews_10k, on = 'goodreads_book_id', how = 'left')
reviews_full.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors_x,original_publication_year,original_title_x,...,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,authors_y,original_title_y,review_text
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Tuve el gusto de leerlo antes de que saliera l...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,Stephenie Meyer,Twilight,"If I was 15, I would have LOVED this. It wasn'..."
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,Harper Lee,To Kill a Mockingbird,"Still relevant and beautiful.,R.I.P. Ms. Harpe..."
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,F. Scott Fitzgerald,The Great Gatsby,I read this classic twice in high school. Its ...

In [8]:
reviews_full.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors_x',
       'original_publication_year', 'original_title_x', 'title',
       'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url', 'authors_y', 'original_title_y', 'review_text'],
      dtype='object')

In [12]:
reviews_full = reviews_full.drop(['authors_x', 'original_title_x', 'image_url', 'small_image_url'], axis = 1)

KeyError: "['authors_x' 'original_title_x' 'image_url' 'small_image_url'] not found in axis"

In [14]:
print(reviews_full.shape)

(10000, 22)

In [13]:
reviews_full.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'original_publication_year', 'title',
       'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'authors_y',
       'original_title_y', 'review_text'],
      dtype='object')

In [15]:
reviews_full.to_csv('Data/reviews10k_grouped_full.csv', index = False)

In [16]:
reviews_full = pd.read_csv('Data/reviews10k_grouped_full.csv')
reviews_full.head(10)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,original_publication_year,title,language_code,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,authors_y,original_title_y,review_text
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,2008.0,"The Hunger Games (The Hunger Games, #1)",eng,...,4942365,155254,66715,127936,560092,1481305,2706317,Suzanne Collins,The Hunger Games,I cracked and finally picked this up. Very enj...
1,2,3,3,4640799,491,439554934,9.780440e+12,1997.0,Harry Potter and the Sorcerer's Stone (Harry P...,eng,...,4800065,75867,75504,101676,455024,1156318,3011543,"J.K. Rowling, Mary GrandPré",Harry Potter and the Philosopher's Stone,Tuve el gusto de leerlo antes de que saliera l...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,2005.0,"Twilight (Twilight, #1)",en-US,...,3916824,95009,456191,436802,793319,875073,1355439,Stephenie Meyer,Twilight,"If I was 15, I would have LOVED this. It wasn'..."
3,4,2657,2657,3275794,487,61120081,9.780061e+12,1960.0,To Kill a Mockingbird,eng,...,3340896,72586,60427,117415,446835,1001952,1714267,Harper Lee,To Kill a Mockingbird,"Still relevant and beautiful.,R.I.P. Ms. Harpe..."
4,5,4671,4671,245494,1356,743273567,9.780743e+12,1925.0,The Great Gatsby,eng,...,2773745,51992,86236,197621,606158,936012,947718,F. Scott Fitzgerald,The Great Gatsby,I read this classic twice in high school. Its ...
5,6,11870085,11870085,16827462,226,525478817,9.780525e+12,2012.0,The Fault in Our Stars,eng,...,2478609,140739,47994,92723,327550,698471,1311871,John Green,The Fault in Our Stars,So.. well I know everyone's obsessed with this...
6,7,5907,5907,1540236,969,618260307,9.780618e+12,1937.0,The Hobbit,en-US,...,2196809,37653,46023,76784,288649,665635,1119718,J.R.R. Tolkien,The Hobbit or There and Back Again,Couldn't finish it. I was 5/6 of the way done ...
7,8,5107,5107,3036731,360,316769177,9.780317e+12,1951.0,The Catcher in the Rye,eng,...,2120637,44920,109383,185520,455042,661516,709176,J.D. Salinger,The Catcher in the Rye,"Certainly not his best, but it's Salinger so I..."
8,9,960,960,3338963,311,1416524797,9.781417e+12,2000.0,"Angels & Demons (Robert Langdon, #1)",en-CA,...,2078754,25112,77841,145740,458429,716569,680175,Dan Brown,Angels & Demons,"A quick read, and probably better than The Da ..."
9,10,1885,1885,3060926,3455,679783261,9.780680e+12,1813.0,Pride and Prejudice,eng,...,2191465,49152,54700,86485,284852,609755,1155673,Jane Austen,Pride and Prejudice,This great classic's color paints vivid pictur...